<% layout("../layouts/boilerplate") %>

  <h1>Viewing all the Campgrounds</h1>
  <a href="campgrounds/new">New Campgrounds</a>
  <ul>
    <% for(let c of Campgrounds) {%>
      <li><a href="/campgrounds/<%=c._id  %> ">
          <%= c.name %>
        </a></li>
      <% } %>
  </ul>