<% layout("../layouts/boilerplate") %>

  <h1 class="display-2 text-center"> Create a new campground</h1>
  <form action="/campgrounds" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="container w-75 m-auto">
      <div class="form-group">
        <label for="name" class=>Name of the Campground</label>
        <input type="text" class="form-control" id="name" name="Campground[name]" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please provide a valid name.
        </div>
      </div>
      <div class="form-group">
        <label for="location">Location of the campground</label>
        <input type="text" id="location" class="form-control" name="Campground[location]" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please provide a location.
        </div>
      </div class="form-group">
      <div class="form-group">
        <label for="price">Cost of the campground</label>
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
          <input type="text" id="price" class="form-control" name="Campground[price]" required>
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide a valid Price.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description of the campground</label><br>
        <textarea id="description" class="form-control" name="Campground[description]" cols="50" rows="5"
          placeholder="Enter description here" required></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please provide a valid Description.
        </div>
      </div>
      <div class="form-group">
        <label for="image">Image of the campground</label>
        <br>
        <div class="custom-file form-file">
          <input type="file" name="Campground[image]" class="custom-file-input" id="customFile" multiple>
          <label class="custom-file-label form-file-label" name="Campground[image]" for="customFile">Choose file</label>
        </div>
        <!-- <input type="text" id="image" class="form-control" name="Campground[image]" required> -->
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please provide a valid URL.
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-lg">Create Campground</button>
    </div>
  </form>