<h1> Create a new campground</h1>
<form action="/campgrounds" method="POST">
  <div>
    <label for="name">Name of the Campground</label>
    <input type="text" id="name" name="Campground[name]">
  </div>
  <div>
    <label for="location">Location of the campground</label>
    <input type="text" id="location" name="Campground[location]">
  </div>
  <label for="description">Description of the campground</label><br>
  <textarea id="description" name="Campground[description]" cols="50" rows="10"
    placeholder="Enter description here"></textarea>
  <br>
  <button type="submit">Create Campground</button>
</form>